.mainNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 10vh;

}

body {
    background-color: #fcdffc;
    width: 98%;
    margin:0 auto;
}

.services {
    width: 80vw;
    display: flex;
    margin-bottom: 5px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.service_sub {
    height: 80%;
    width: 45%;
    margin: 10px;
    padding: 3px;
    background-color: white;
    text-align: center;
     box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;

}


.service_sub:hover {
    transform: scale(1.05);
}


.service_sub>img {
    height: 300px;
    width: 400px;
    border-radius: 5px;
    transform: translate(1);
}

.mainNav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: red;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;

}


.logo {
    width: 40%;
    height: 100%;
}

.menulist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
}

.menulist>.item {
    display: block;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    color: white;
    font-weight: bold;
}

.item:hover {
    background-color: red;

}



.mobileIcon,
.mobileMenu {
    display: none;
}


@media screen and (max-width: 468px) {
    body {
    background-color: #fcdffc;
    width: 90%;
    margin:0 auto;
}
    .menulist {
        display: none;
    }

    .logo {
        width: 20%;
    }

    #closeMenu {
        background-color: red;
        height: fit-content;
        width: 100px;
        border: 0px;
        padding: 10px;
        padding-right: 15px;
        margin: 10px;
        margin-right: 10px;
        border-radius: 15px;
        color: white;
        align-self: flex-end;
    }

    .mobileIcon {
        display: flex;
        background-color: #ffcffc;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }



    .mobileMenu {
        display: flex;
        z-index: 1;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        background-color: #9c09f1;
        opacity: 1;
        top: 0;
        right: 0;
        z-index: 20;
        width: 70vw;
        transition: transform 2.5s ease-in-out;
        transform: translate(100%, 0%)
    }



    .mobileMenu>.item {
        height: 10px;
        margin: 10px;
        margin-left: 0px;
        color: white;
        font-weight: bold;
        padding: 10px;
    }

    .mainNav2 {
        background-color: white;
    }

    .mainNav {
        justify-content: space-between;
    }

    .movable-div {
        width: 40px;
        height: 40px;
        opacity: 0.5;
        border-radius: 50%;
        background-color: tomato;
        position: absolute;
        transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
        transform: translate(-50%, -50%);
    }

    .major {
        display: flex;
        margin-top: 5px;
        border-radius: 5px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        background-color: white;
        flex-direction: column;
    }


    .services {
        width: 98vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .service_sub {
        width: 100%;
    }

}

@media screen and (min-width: 468px) {

    .mainNav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 10vh;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 50%;
        background-color: blue;
        border-collapse: collapse;

    }

    .mainNav2 {
        background-color: red;
    }

}